{% set title = 'Database Migrations' %}

{% set introduction %}
    What is the help about ?
{% endset %}

{% set requirements = ['SQL', 'Database Connection', 'Connection Strings'] %}

{% set content %}
    <h5>How to create a migration file</h5>
    
    <ul>
        <li>
            Consider the following SQlite3 database table stored inside a database called test.db
        </li>
        <li>
            Go to <code>your-url/migrate/create</code> in your browser
        </li>
        <li>
            You should see a text editor with an input above for the name of your file. File name example <code>create table car</code>
        </li>
        <li>
            In the text editor enter in your sql query. Example query below
        </li>
        <li>
            Once you are done with your sql query click on the create migraion button
        </li>
    </ul>
    
    <p>
    <pre>
        <code>create table car (
    id integer primary key,
    car_name varchar(100)
);</code>
    </pre>
    </p>

    <ul>
        <li>
            That should have created a migrations folder in your work directory with your file name inside the folder.
        </li>
        <li>
            You can always change the sql query in the file before you run the migration. Not recommended to change sql query after migration.
        </li>
        <li>
            Only run this if the database connection exists - Once you are happy with your sql query. In your browser go to <code>your-url/migrate</code>. This will run all your migration files.
        </li>
        <li>
            After that you should see a table called <code>tina4_migration</code> in your database. This keeps track of all your migrations.
        </li>
    </ul>
{% endset %}

{% set tips = [
    'your-url/migrate - runs all migrations',
    'your-url/migrate/create - create a new migration file under the migrations folder',
]
%}

{% include "documentation/components/help-segment.twig" %}